@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
  color: #595959;
}

/* NAVBAR */

.navbar {
  padding: 35px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6e6e6;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 5px;
}

/* REGISTER PAGE */

.register {
  padding: 16px;
  align-items: center;
}

.register, .login h2 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 14px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

.register-btn, .login-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 14px;
  background-color: #629632;
  color: #fff;
  margin-bottom: 30px;
}

.jumbotron {
  align-items: center;
  text-align: center;
  padding: 100px;
  background-color: #629632;
}

.jumbotron h1, p {
  color: white;
}

.home {
  align-items: center;
  text-align: center;
  padding: 100px;
}

.login {
  align-items: center;
  text-align: center;
  padding: 60px;
}

/* PROFILE PAGE */

#username {
  text-align: center;
  padding-top: 60px;
}
#fullName {
  text-align: center;
}

.profile {
  align-items: center;
}

#profileCard {
  width: 100%;
  background-color: #66a1ff;
  padding: 100px;
}

.profileTitle {
  margin-bottom: 3px;
  color: #fff;
  font-weight: 1000;
  font-size: 40pt;
}

.profileSubtitle {
  font-size: 15pt;
  color: #fff;
  margin-bottom: 50px;
}

.profileBio {
  font-size: 18pt;
}

/* POSTS */

.uploadPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.uploadPost input {
  width: 50%;
  height: 20px;
  margin: 10px;
}

textarea {
  width: 50%;
  height: 100px;
}

#postSubmit {
  margin-top: 10px;
}

/* FEED POSTS */

.post {
  border-style:solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #d4d4d4;
  padding: 20px;
  margin: 50px;
}

.post p {
  color: black;
}

.postFirstName {
  font-size: 20px;
  font-weight: 900;
}
