@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
  color: #595959;
}

.navbar {
  padding: 35px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6e6e6;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 5px;
}

.register {
  padding: 16px;
  align-items: center;
}

.register, .login h2 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 14px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

.register-btn, .login-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 14px;
  background-color: #629632;
  color: #fff;
  margin-bottom: 30px;
}