@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

* {
  margin: 0;
  font-family: "Playfair Display", "Inter", sans-serif;
  color: rgb(37, 37, 37);
}

/* NAVBAR */

.navbar {
  padding: 70px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}

.navbar .links {
  margin-left: auto;
  margin-right: 30px;
}

.navbar * {
  color: rgb(37, 37, 37);
}

.navbar-brand {
  font-family: "Playfair Display", Arial, sans-serif;
  font-weight: bold;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 5px;
}

.navbar h1 {
  font-size: 25px;
  padding: 10px;
}

.links a:hover {
  text-decoration: none;
  color: hotpink;
}

/* REGISTER PAGE */

.register {
  padding: 16px;
  align-items: center;
}

.register,
.login h2 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 14px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

.register-btn,
.login-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 14px;
  background-color: #629632;
  color: #fff;
  margin-bottom: 30px;
}

.jumbotron {
  align-items: center;
  text-align: center;
  padding: 100px;
  background-color: #87cefa;
}

.jumbotron h1,
p {
  color: black;
}

.home {
  align-items: center;
  text-align: center;
  padding: 100px;
}

.login {
  align-items: center;
  text-align: center;
  padding: 60px;
}

/* PROFILE PAGE */

/* #username {
  text-align: center;
  padding-top: 60px;
} */
#fullName {
  text-align: center;
}

.profile {
  align-items: center;
}

#profileCard {
  width: 100%;
  background-color: #87cefa;
  /* padding: 100px; */
  padding-top: 100px;
  padding-bottom: 100px;
}

.profileTitle {
  margin-bottom: 3px;
  color: #fff;
  font-weight: 1000;
  font-size: 40pt;
}

.profileSubtitle {
  font-size: 15pt;
  color: #fff;
  margin-bottom: 50px;
}

.profileBio {
  font-size: 18pt;
}

.profileTitle,
.profileSubtitle,
.profileBio {
  padding-left: 100px;
}

/* POSTS */

.uploadPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.uploadPost input {
  width: 50%;
  height: 20px;
  margin: 10px;
}

textarea {
  width: 50%;
  height: 100px;
}

#postSubmit {
  margin-top: 10px;
}

/* FEED POSTS */

.post {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #87cefa;
  padding: 20px;
  margin: 50px;
}

.allPosts {
  text-align: center;
  margin-top: 50px;
}

.post p {
  color: black;
}

.postFirstName {
  font-size: 20px;
  font-weight: 900;
}

.postUsername {
  font-weight: 800;
  font-size: 20px;
  color: #1e90ff;
}

.postTitle {
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 6px;
}

.postContent {
  margin-bottom: 10px;
}

/* USER LIST */
.users {
  text-align: center;

  padding: 20px;
  margin-top: 25px;
}

.userList {
  text-align: center;
  margin-top: 50px;
}

.userList p {
  color: #1e90ff;
  margin-bottom: 0px;
  font-size: 30px;
}

.userList h1 {
  font-size: 20px;
}

/* SUPPORT PAGE */

.supportHeader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.supportText {
  color: #1e90ff;
}

/* COMMENTS MODAL */

.comment-text {
  color: #87cefa;
}

.commentContent {
  color: #1e90ff;
}

/* COMMENTS SECTION */

.commentList {
  padding: 20px;
  margin-left: 50px;
  margin-top: 10px;
}

.commentUsername {
  font-weight: 800;
  font-size: 20px;
}
