@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
  color: #595959;
}

.navbar {
  padding: 35px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6e6e6;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 5px;
}

